<div class="choosetext">
    <h4>Choose your bracelet slot item:</h4>
    <mat-form-field>
        <mat-select [disableOptionCentering]="true" placeholder="None" (selectionChange)="changeBracelet($event.value)">
            @for (item of Braceletlist; track item) {
                <mat-option [value]="item">{{item.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
  </div>

  <div>
<img *ngIf="selectedItem.photo!=''" class="itemphoto" [src]="selectedItem.photo" width="100" height="100">
</div>

<div class="statstext">
    <ul>
    <li class="listingname" *ngIf="selectedItem.name!=''"><strong>Item name:</strong> {{ selectedItem.name }}</li>
    <li class="listing" *ngIf="selectedItem.strength>0"><strong>Strength: </strong>{{ selectedItem.strength }}</li>
    <li class="listing" *ngIf="selectedItem.dexterity>0"><strong>Dexterity:</strong> {{ selectedItem.dexterity }}</li>
    <li class="listing" *ngIf="selectedItem.vitality>0"><strong>Vitality:</strong> {{ selectedItem.vitality }}</li>
    <li class="listing" *ngIf="selectedItem.intelligence>0"><strong>Intelligence:</strong> {{ selectedItem.intelligence }}</li>
    <li class="listing" *ngIf="selectedItem.mind>0"><strong>Mind:</strong> {{ selectedItem.mind }}</li>
    <li class="listing" *ngIf="selectedItem.criticalhit>0"><strong>Critical hit:</strong> {{ selectedItem.criticalhit }}</li>
    <li class="listing" *ngIf="selectedItem.determination>0"><strong>Determination:</strong> {{ selectedItem.determination }}</li>
    <li class="listing" *ngIf="selectedItem.directhit>0"><strong>Direct hit:</strong> {{ selectedItem.directhit }}</li>
    <li class="listing" *ngIf="selectedItem.defense>0"><strong>Defense:</strong> {{ selectedItem.defense }}</li>
    <li class="listing" *ngIf="selectedItem.magicdefense>0"><strong>Magic defense:</strong> {{ selectedItem.magicdefense }}</li>
    <li class="listing" *ngIf="selectedItem.tenacity>0"><strong>Tenacity:</strong> {{ selectedItem.tenacity }}</li>
    <li class="listing" *ngIf="selectedItem.piety>0"><strong>Piety:</strong> {{ selectedItem.piety }}</li>
    <li class="listing" *ngIf="selectedItem.skillspeed>0"><strong>Skill speed:</strong> {{ selectedItem.skillspeed }}</li>
    <li class="listing" *ngIf="selectedItem.spellspeed>0"><strong>Spell speed:</strong> {{ selectedItem.spellspeed }}</li>
    </ul>
</div>