.calculatorapp {
  border: 3px solid plum;
  width: 300px;
  background-color: aliceblue;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.choosetext {
  display: grid;
  text-align: center;
  width: 250px;
}

  .statstext {
    text-align: center;
    width: 300px
  }

  .statspriotext {
    text-align: center;
    width: 300px;
    border-bottom: 2px solid plum;
  }

  .itemphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .stat {
    text-align: left;
  }

  .statnumber {
    text-align: right;
  }

.listing {
    display: grid;
    grid-template-columns: 180px 120px;
}

.statprio {
  /* display: grid; */
  text-align: center;
  /* grid-template-columns: 160px 50px; */
  
}

ul {
  display: table; 
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.listinggreen {
  display: grid;
  grid-template-columns: 180px 120px;
  color: limegreen;
  margin-left: auto;
  margin-right: auto;
}

.listingorange {
  display: grid;
  grid-template-columns: 180px 120px;
  color: darkorange;
  margin-left: auto;
  margin-right: auto;
}

.listingred {
  display: grid;
  grid-template-columns: 180px 120px;
  color: red;
  margin-left: auto;
  margin-right: auto;
}

.listingname {
    display: grid;
    margin-left: auto;
  margin-right: auto;
}