.choosetext {
  display: grid;
  text-align: center;
  width: 250px;
}

  .statstext {
    text-align: center;
  }

  .statspriotext {
    text-align: center;
  }

  .itemphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .stat {
    text-align: left;
  }

  .statnumber {
    text-align: right;
  }

.listing {
    display: grid;
    grid-template-columns: 160px 50px;
}

.statprio {
  /* display: grid; */
  text-align: center;
  grid-template-columns: 160px 50px;
  padding-left: 15px;
}

ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

.listinggreen {
  display: grid;
  grid-template-columns: 160px 50px;
  color: limegreen;
}

.listingorange {
  display: grid;
  grid-template-columns: 160px 50px;
  color: orange;
}

.listingred {
  display: grid;
  grid-template-columns: 160px 50px;
  color: red;
}

.listingname {
    display: grid;
}