.characterapp {
  display: grid;
  text-align: center;
  width: 250px;
}

.choosetext {
  display: grid;
  text-align: center;
  width: 250px;
}

.statstext {
  text-align: left;
  border-radius: 25px;
  border: 2px solid plum;
  background-color: rgb(240, 248, 255, 0.8);
}

  .jobphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .stat {
    text-align: left;
  }

  .statnumber {
    text-align: right;
  }

.listing {
    display: grid;
    grid-template-columns: 160px 50px;
}

.listingname {
    display: grid;
}