:host {
    --content-padding: 10px;
  }
  header {
    display: block;
    height: 60px;
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
  }
  .content {
    padding: var(--content-padding);
  }

  .main {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, lightblue, pink);
  }

  .charactermix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }

  .racesmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }

  .itemmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }

  .headmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }  

  .bodymix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }  

  .handmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  } 

  .legmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }  

  .footmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }  

  .earringmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }  

  .necklacemix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  }  

  .braceletmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  } 

  .leftringmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  } 

  .rightringmix {
    width: 300px ;
    padding-left: 15px;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;
  } 

  .menu {
    inline-size: var(--size-content-1);
    aspect-ratio: var(--ratio-widescreen);
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    background: 
      linear-gradient(var(--surface-1), var(--surface-1)) padding-box, 
      var(--gradient-1) border-box;
  }

  .menubottom {
    inline-size: var(--size-content-1);
    aspect-ratio: var(--ratio-widescreen);
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    position: fixed;
    bottom: 0;
    background: 
      linear-gradient(var(--surface-1), var(--surface-1)) padding-box, 
      var(--gradient-1) border-box;
    
  }

  .reset {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    /* display: flex ;
    justify-content: right;
    flex-direction: row;
    float: right; */
    /* padding-left: 15px; */
    position: fixed;
    top: 35px;
    right: 10px;
  }

  .calculator {
  text-align: center;
  }  
