<main>
  <div class="main">

  <div class="menu">
    <section class="menu">
      <app-menu></app-menu>
    </section>
  </div>
    
  <div class="charactermix">
    <section class="charactermix">
      <app-charactermix></app-charactermix>
    </section>
  </div>

  <div class="racesmix">
    <section class="racesmix">
      <app-racesmix></app-racesmix>
    </section>
  </div>

  <div class="itemmix">
    <section class="itemmix">  
      <app-itemmix></app-itemmix>
    </section>
  </div>

  <div class="headmix">
    <section class="headmix">
      <app-headmix></app-headmix>
    </section>
  </div>

  <div class="bodymix">
    <section class="bodymix">
      <app-bodymix></app-bodymix>
    </section>
  </div>

  <div class="handmix">
    <section class="handmix">
      <app-handmix></app-handmix>
    </section>
  </div>

  <div class="legmix">
    <section class="legmix">
      <app-legmix></app-legmix>
    </section>
  </div>

  <div class="footmix">
    <section class="footmix">
      <app-footmix></app-footmix>
    </section>
  </div>

  <div class="earringmix">
    <section class="earringmix">
      <app-earringmix></app-earringmix>
    </section>
  </div>

  <div class="necklacemix">
    <section class="necklacemix">
      <app-necklacemix></app-necklacemix>
    </section>
  </div>

    <div class="reset">
    <button class="reset">   
          <a href="https://adrian-sz.github.io/standaloneproject">
          <img src="https://cdn.discordapp.com/attachments/1079424004491845643/1219410555195101254/reset.png?ex=660b3393&is=65f8be93&hm=a12157ea48342bfdbbf3f94d5a6e92927d66799d6338f04a381e3aadfb30bc81&" width="25px" height="25px" alt="buttonpng"/> 
          </a>
    </button>
    </div>
  </div>
  
  <div class="menu">
    <section class="menu">
      <app-menu></app-menu>
    </section>
  </div>

  <div>
  <div class="calculator">
      <section class="calculator">
        <app-calculator></app-calculator>
      </section>
    </div>
  </div>
  </main>