<main>
  <div class="main">

      <div class="menu">
        <app-menu></app-menu>
      </div>
        
      <div class="charactermix">
        <app-charactermix></app-charactermix>
      </div>

      <div class="racesmix">
        <app-racesmix></app-racesmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <div class="itemmix">
        <app-itemmix></app-itemmix>
      </div>

      <!-- <div class="headmix">
        <app-headmix></app-headmix>
      </div>

      <div class="bodymix">
        <app-bodymix></app-bodymix>
      </div>

      <div class="handmix">
        <app-handmix></app-handmix>
      </div>

      <div class="legmix">
        <app-legmix></app-legmix>
      </div>

      <div class="footmix">
        <app-footmix></app-footmix>
      </div>

      <div class="earringmix">
        <app-earringmix></app-earringmix>
      </div>

      <div class="necklacemix">
        <app-necklacemix></app-necklacemix>
      </div>

      <div class="braceletmix">
        <app-braceletmix></app-braceletmix>
      </div>

      <div class="leftringmix">
        <app-leftringmix></app-leftringmix>
      </div>

      <div class="rightringmix">
        <app-rightringmix></app-rightringmix>
      </div> -->

      <div>
        <button class="reset">   
          <a href="https://adrian-sz.github.io/standaloneproject">
            <img src="https://cdn.discordapp.com/attachments/1079424004491845643/1219410555195101254/reset.png?ex=660b3393&is=65f8be93&hm=a12157ea48342bfdbbf3f94d5a6e92927d66799d6338f04a381e3aadfb30bc81&" width="25px" height="25px" alt="buttonpng"/> 
          </a>
        </button>
      </div>
  </div>
  
  <div class="menu">
      <app-menu></app-menu>
  </div>

  <div class="main">

    <div class="calculator">
        <app-calculator></app-calculator>
    </div>

  </div>
  
  <div class="menu">
    <app-menu></app-menu>
  </div>

</main>