:host {
    --content-padding: 10px;
  }
  header {
    display: block;
    height: 60px;
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
  }
  .content {
    padding: var(--content-padding);
  }

  .main {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, lightblue, pink);
  }

  /* .menu {
    width: 100% ;
    display: flex ;
    justify-content: left;
    flex-direction: row;
    float: left;}
 */
  .charactermix {
    width: 250px ;
    display: flex ;
    justify-content: left;
    /* border: 1px solid black; */
    flex-direction: row;
    /* overflow: hidden; */
    float: left;
  }

  .itemmix {
    width: 250px ;
    display: flex ;
    justify-content: left;
    /* border: 1px solid black; */
    flex-direction: row;
    /* overflow: hidden; */
    float: left;
  }

  .headmix {
    width: 350px ;
    display: flex ;
    justify-content: left;
    /* border: 1px solid black; */
    flex-direction: row;
    /* overflow: hidden; */
    float: left;
  }  

  .menu {
    inline-size: var(--size-content-1);
    aspect-ratio: var(--ratio-widescreen);
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    background: 
      linear-gradient(var(--surface-1), var(--surface-1)) padding-box, 
      var(--gradient-1) border-box;
  }

