.choosetext {
  display: grid;
  text-align: center;
  width: 250px;
}
  .statstext {
    text-align: left;
  }

  .itemphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .stat {
    text-align: left;
  }

  .statnumber {
    text-align: right;
  }

.listing {
    display: grid;
    grid-template-columns: 160px 50px;
}

.listingname {
    display: grid;
}