<div class="racesmix">
<div class="choosetext">
    <h4>Choose Your Race:</h4>
    <mat-form-field>
        <mat-select [disableOptionCentering]="true" placeholder="None" (selectionChange)="changeRace($event.value)">
            @for (job of Racelist; track job) {
                <mat-option [value]="job">{{job.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
  </div>

  <div>
<img *ngIf="selectedRace.photo!=''" class="jobphoto" [src]="selectedRace.photo" width="100" height="100">
</div>

<div class="statstext" *ngIf="selectedRace.id>=0">
    <ul>
    <li class="listingname" *ngIf="selectedRace.name!=''"><strong>Race:</strong> {{ selectedRace.name }}</li>
    <li class="listing" *ngIf="selectedRace.strength>0"><strong>Strength:</strong> {{ selectedRace.strength }}</li>
    <li class="listing" *ngIf="selectedRace.dexterity>0"><strong>Dexterity:</strong> {{ selectedRace.dexterity }}</li>
    <li class="listing" *ngIf="selectedRace.vitality>0"><strong>Vitality:</strong> {{ selectedRace.vitality }}</li>
    <li class="listing" *ngIf="selectedRace.intelligence>0"><strong>Intelligence:</strong> {{ selectedRace.intelligence }}</li>
    <li class="listing" *ngIf="selectedRace.mind>0"><strong>Mind:</strong> {{ selectedRace.mind }}</li>
    </ul>
</div>
</div>